* {
	margin: 0;
	padding: 0;

}

/* header */
.image2 {
	
	margin-left: 5px;
	width: 90px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;
}
.image{
	width:26px;
}

.header_left {
	display: flex;
	align-items: center;
}

.header_left span {
	padding: 10px;
	cursor: pointer;
}

.header-middle {
	display: flex;
	flex: 0.7;
	align-items: center;
	background-color: whitesmoke;
	padding: 10px;
	border-radius: 5px;
}

.material-symbols-outlined {
	color: gray;

}

.header-middle input {
	border: none;
	padding: 10px;
	outline: none;
	font-size: medium;
	background-color: transparent;
}

.header_right {
	display: flex;
	padding-right: 20px;
}

.header_right span {
	padding: 10px;
	cursor: pointer;
}

/* sidebar */
.sidebar {
	flex: 0.3;
	max-width: 300px;
	padding-right: 20px;
}

.sidebar_compose {
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 15px;
	text-transform: capitalize;
	color: gray;
	padding: 15px;
	border-radius: 30px;
	background-color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sidebar_compose span {
	margin-right: 5px;
}

.sidebaroption {
	display: flex;
	align-items: center;

	padding:10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: #818181;
}

.sidebaroption.material-symbols-outlined {
	padding: 5px;
}

.sidebaroption h3 {
	flex: 1;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
}

.sidebaroption:hover,
.sidebaroption:hover h3,
.sidebaroption:hover .material-symbols-outlined,
.sidebaroption_active,
.sidebaroption_active h3,
.sidebaroption_active .material-symbols-outlined {
	background-color: #fcecec;
	font-weight: 800;
}

.sidebar-footer {
	display: flex;
	justify-content: center;
}

.sidebar_footericons .material-symbols-outlined {
	margin: 7px;
	cursor: pointer;
}

/*main body*/
.main_body {
	display: flex;
	
}

body {
	font-family:arial,sans-serif;
}

/*email list*/
.emaillist {
	flex: 1;
	
}

.emaillist_settings {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;
	background-color: white;
	z-index: 999;
	padding: 8px;
}

.emaillist_settingsleft {
	display: flex;
	align-items: center;
}

.emaillist_settings .material-symbols-outlined {
	margin: 5px;
	cursor: pointer;

}

.section {
	display: flex;
	align-items: center;
	border-bottom-width: 2px;
	padding: 15px;
	min-width: 200px;
	cursor: pointer;
	color: gray;
	border-width: 0;
}

.emaillist_sections {
	position: sticky;
	top: 0;
	display: flex;
	background-color: white;
	border-bottom: 1px solid whitesmoke;
	z-index: 999;
}

.section_selected {
	background-color: whitesmoke;
	border-width: 3px;
	color: red;
	border-bottom: 3px solid red;
}

.section_selected .material-symbols-outlined {
	color: red;
}

.section:hover {
	background-color: whitesmoke;
	border-width: 3px;
}

.section h4 {
	font-size: 14px;
	margin-left: 15px;
}

.emailrow_options {
	display: flex;
	align-items: center;
}

.emailrow_options .material-symbols-outlined {
	margin: 5px;

}

.emailrow {
	display: flex;
	align-items: center;
	padding:10px;
	border-bottom: 1px solid whitesmoke;
	cursor: pointer;
	z-index: 999;

}

.emailrow:hover {
	border-top: 1px solid whitesmoke;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 24);
}

.emailrow_message {
	display: flex;
	flex: 0.8;
	align-items: center;
	font-size: 13px;
}

.emailrow_message h4 {
	width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	padding-right: 5px;
}

.emailrow_title {
	font-size: 13px;
	flex: 0.3;

}

.emailrow_time {
	padding-right: 15px;
	font-size: 10px;
	font-weight: bold;
}

.emailrow_description {
	font-weight: 400;
	color: gray;
}

@media (max-width:768px) {
	.section {
		min-width: 183px;
	}

	.material-symbols-outlined {
		font-size: 20px;
	}

	.header_left img {
		height: 60px;
	}
	.image{
	width:23px;
	}

	.emailrow {
		padding:7px;
	}

	.emailrow_title {
		font-size: 12px;
	}

	.emailrow_message {
		font-size: 12px;
	}

	.section h4 {
		font-size: 13px;
	}

	.sidebaroption h3 {
		font-size: 13px;
	}

	.emailrow_message h4 {
		width: 324px;
	}
	.sidebaroption {
		padding:8px;
	}
}



@media (max-width:600px) {

	.material-symbols-outlined {
		font-size: 16px;
	}

	.header_left img {
		height: 42px;
	}
	.image{
	width:20px;
	}

	.header-middle {
		padding: 4px;
	}
	
	.section {
   		 min-width: 126px;
		padding:12px;
	}

	.sidebaroption h3 {
		font-size: 11px;
	}

	.emailrow_title {
		font-size: 11px;
	}

	.emailrow_message h4 {
		width: 236px;
		font-size: 11px
	}

	.section h4 {
		font-size: 12px;
	}

	.sidebar_compose {
		padding: 7px;
	}
		.sidebaroption {
		padding:6px;
	}
		.emailrow {
		padding:5px;
	}
}
@media (max-width:425px) {
	.header-middle {
		padding: 0px;
	}
        .header_right {
                display: flex;
                padding-right: 8px;
        }
	.material-symbols-outlined {
		font-size: 15px;
	}
	.image{
	width:13px;
	}

	.header_left img {
		height: 31px;
	}

	.sidebar_compose {
		padding: 6px;
	}

	.sidebaroption h3 {
		font-size: 10px;
	}

	.sidebaroption {
		padding:4px;
	}

	.emailrow {
		padding:3px;
	}

	.emailrow_title {
		font-size: 8px;
	}

	.emailrow_message h4 {
		font-size: 8px;
		width: 135px;
	}

	.section h4 {
		font-size: 11px;
	}
	
	.section {
    		min-width: 75px;
   		padding: 8px;
	}
}